<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="JaspDesktopLocation" value="D:\Program Files\JASP" />
    <add key="ReportOutputFolder" value="C:\JaspReportingService\output\" />
    <add key="ReportJaspFile" value="C:\JaspReportingService\reportThis.jasp" />
  </appSettings>
</configuration>